<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0" />
      </material>
     
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0" />
      </material>
     
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0" />
      </material>
    
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0" />
      </material>

    <gazebo reference="base">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="link_1">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="link_2">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="link_3">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="link_4">
        <material>Gazebo/Black</material>
    </gazebo>
</robot>